<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A szegedi YetiSí síiskola hivatalos oldala">
    <meta keywords="yeti,szeged,yetisí,sí,síiskola,Szeged,szegedi,szerviz">
    <title>{{ title }}</title>
    <style>
      {% css %}
        {% include "styles/style.css" %}
      {% endcss %}
    </style>
    <script src="main.js" defer></script>
    <script src="loadFonts.js" defer></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
