<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A szegedi YetiSí síiskola hivatalos oldala">
    <meta keywords="yeti,szeged,yetisí,sí,síiskola,Szeged,szegedi,szerviz">
    <title>{{ title }}</title>
    <style>
      {% css %}
        {% include "styles/style.css" %}
      {% endcss %}
    </style>
    <script src="/loadFonts.js" defer></script>
  </head>
  <body>
    <main>
      <article class="post">
        <div class="post__title">
          <h1 class="container">{{ title }}</h1>
        </div>
        <div class="container">
          {{ content | safe }}
        </div>
      </article>
    </main>
    {% include "partials/wave.njk" %}
  </body>
</html>
