.about {
  & article {
    display: flex;
    margin: 3em 0;
    flex-direction: column;

    &:first-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(even) {
      flex-direction: column-reverse;
      
      @media (--large-viewport) {
        flex-direction: row;
      }
    }

    @media (--large-viewport) {
      align-items: flex-start;
      flex-direction: row;
    }

    & > * {
      flex: 1 1 0;
      top: 6em;

      @media (--large-viewport) {
        position: sticky;
     
        &:first-child {
          margin-right: 2.5rem;
        }
      }
    }

    & img {
      min-width: 0;
      border-radius: 15px;
      width: 100%;
      box-shadow:
        1px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        2.4px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        4.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        8px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        15px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        36px 100px 80px rgba(0, 0, 0, 0.07);
    }

    & p a:last-of-type {
      display: block;
      margin-top: 1em;
    }
  }
}

