@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(2em);
  }

  0% {
    transform: translateY(0);
  }
}

.banner {
  position: relative;
  height: 30em;
  background: linear-gradient(#146082, var(--color-primary));
  color: white;
  overflow: hidden;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (--medium-viewport) {
      flex-direction: row;
      align-items: center;
    }
  }

  & .banner__images {
    justify-self: center;
    margin: 0 auto;
    display: none;

    @media (--large-viewport) {
      display: block;
      animation: 3s ease-in-out infinite floating;

      & img {
        height: 20em;
      }

      @media (prefers-reduced-motion) {
        animation: none;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20em;
    width: 100%;
    min-height: 25em;
    background: white;
    clip-path: url(#wave);
  }
}
