@keyframes floating {
  0% {
    transform: translateY(0em);
  }

  50% {
    transform: translateY(2em);
  }

  0% {
    transform: translateY(0em);
  }
}

.banner {
  position: relative;
  height: 30em;
  background: linear-gradient(#146082, var(--color-primary));
  color: white;
  overflow: hidden;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (--medium-viewport) {
      flex-direction: row;
      align-items: center;
    }
  }

  & .banner__images {
    justify-self: center;
    margin: 0 auto;
    display: none;

    @media(--medium-viewport) {
      display: block;

      & img {
        height: 15em;
        animation: 3s ease-in-out infinite floating;
   
        @media(prefers-reduced-motion) {
          animation: none;
        }
      }
    }

    @media(--large-viewport) {
      & img {
        height: 20em;
      }
    }
  }

  

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20em;
    width: 100%;
    min-height: 25em;
    background: white;
    clip-path: url(#wave);
  }
}
