.banner {
  position: relative;
  height: 30em;
  background: linear-gradient(#146082, var(--color-primary));
  color: white;
  overflow: hidden;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    @media (--medium-viewport) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  & .banner__text {
    @media (--medium-viewport) {
      width: 50%;
    }
  }

  & h1 {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20em;
    width: 100%;
    min-height: 25em;
    background: white;
    clip-path: url(#wave);
  }
}
