.button {
  background-color: var(--color-secondary);
  color: white;
  padding: 0.75em 1em;
  width: auto;
  border-radius: 1em;
  box-shadow:
    0.5px 1px 1px hsl(var(--shadow-color) / 0.5),
    1px   2px 2px hsl(var(--shadow-color) / 0.5);
}

a.button {
  text-decoration: none;
}
