.button {
  background-color: white;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  padding: 0.75em 1em;
  width: auto;
  border-radius: 0.5em;
  transition: background-color 0.5s, color 0.5s;

  &:hover,
  &.fill {
    background-color: var(--color-secondary);
    color: white;
    border: 2px solid transparent;
  }
}

a.button {
  text-decoration: none;
}
