.button {
  background-color: var(--color-secondary);
  color: white;
  padding: 0.5em 1em;
  width: auto;
  border-radius: 0.2em;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

a.button {
  text-decoration: none;
}
