.faq {
  background: var(--color-dark);
  color: white;

  & .faq__container {
    & summary {
      cursor: pointer;
    }

    @media (--medium-viewport) {
      & {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: calc(1em * var(--line-height-base));
      }
    }
  }
}

