.faq {
  position: relative;
  background: var(--color-dark);
  color: white;
  overflow: hidden;
  margin: 3em 1em;
  padding: 2em;
  border-radius: 1em;

  & .faq__container {
    & summary {
      cursor: pointer;

      &:focus-within {
        outline: solid currentColor;
      }
    }

    @media (--medium-viewport) {
      & {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: calc(1em * var(--line-height-base));
      }
    }
  }
}
