.footer {
  padding-top: calc(2em * var(--line-height-base));
  background-image: linear-gradient(var(--color-dark), 70%, #263c45);
  color: white;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;

    @media (--large-viewport) {
      flex-direction: row;
    }
  }

  & h3 {
    font-size: 0.9rem;
  }

  & ul {
    list-style: none;

    & li {
      font-size: 0.9rem;
      line-height: calc(2 * var(--line-height-base));
    }
  }

  & .footer__map {
    background: white;
    border-radius: 1rem;

    & img {
      display: block;
      width: 300px;
    }
  }

  & .footer__legal {
    margin: 0;
    padding: calc(0.5em * var(--line-height-base)) 0;
    font-weight: 300;
    text-align: center;
    font-size: 0.9rem;
  }
}
