.footer {
  padding-top: calc(2em * var(--line-height-base));
  background: var(--color-dark);
  color: white;

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1em;

    @media (--large-viewport) {
      flex-direction: row;
    }
  }

  & ul {
    list-style: none;

    & li {
      line-height: calc(2 * var(--line-height-base));
    }
  }

  & .footer__legal {
    margin: 0;
    padding: calc(2em * var(--line-height-base)) 0 calc(1em * var(--line-height-base));
    font-weight: 300;
    text-align: center;
  }
}
