nav {
  --nav-text-color: white;
  --nav-height: 5em;
  --nav-background-color: transparent;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--nav-text-color);
  font-size: 0.8em;
  height: var(--nav-height);
  line-height: var(--nav-height);
  transition: all 0.5s;
  z-index: 100;
  background: var(--nav-background-color);

  &.scrolled, &.open {
    --nav-text-color: var(--color-dark);
    --nav-background-color: white;

    box-shadow:
      1px 1.4px 2.2px rgba(0, 0, 0, 0.02),
      2.4px 3.3px 5.3px rgba(0, 0, 0, 0.028),
      4.5px 6.3px 10px rgba(0, 0, 0, 0.035),
      8px 11.2px 17.9px rgba(0, 0, 0, 0.042),
      15px 20.9px 33.4px rgba(0, 0, 0, 0.05),
      36px 50px 80px rgba(0, 0, 0, 0.07);
  }

  & .container {
    display: flex;
    justify-content: space-between;
  }

  & ul {
    list-style-type: none;
    display: none;
    position: absolute;
    top: var(--nav-height);
    right: 0;
    background: var(--nav-background-color);

    @media (--large-viewport) {
      display: block;
      position: initial;
      background: none;
    }
  }

  & li {
    padding: 0 1em;

    @media (--large-viewport) {
      display: inline-block;
    }

    & a {
      text-decoration: none;
      color: var(--nav-text-color);

      &[aria-current="location"] {
        color: var(--color-secondary);
      }
    }
  }

  & button {
    background: none;
    border: 0;
    margin: 0;
    align-self: center;
    padding: 0;
    cursor: pointer;

    &[aria-expanded="true"] + ul {
      display: block;
      box-shadow: 0 30px 40px -30px rgb(0 0 0 / 50%);
    }

    @media (--large-viewport) {
      display: none;
    }
  }

  & svg {
    height: 2em;
    width: 2em;
    align-self: center;
    fill: var(--nav-text-color);

    &:active + ul {
      display: block;
    }
  }
}
