.post {
  margin-bottom: calc(3em * var(--line-height-base));

  & .post__title {
    display: flex;
    align-items: center;
    justify-items: center;
    position: relative;
    overflow: hidden;
    color: white;
    height: 25em;
    background: linear-gradient(#146082, var(--color-primary));

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -20em;
      width: 100%;
      min-height: 25em;
      background: white;
      clip-path: url(#wave);
    }

    & h1 {
      margin: 0;
    }

    & .post__timestamp {
      font-weight: 300;
      font-size: calc(0.8 * var(--font-size-base));
    }

    & a {
      position: absolute;
      font-size: var(--font-size-base);
      top: calc(var(--line-height-base) * 1em);
    }
  }

  & p img {
    display: block;
    max-width: 80%;
    margin: calc(1em * var(--line-height-base)) auto;
  }
}
