.spinner {
  margin: 0 auto;

  & .spinner__line {
    display: inline-block;
    width: 5px;
    height: calc(0.8em * var(--line-height-base));
    background: var(--color-dark);
    animation: grow 1s infinite;
    margin: 0 2px;

    &.spinner__line--2 {
      animation-delay: 0.1s;
    }

    &.spinner__line--3 {
      animation-delay: 0.2s;
    }
  }
}

@keyframes grow {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(2);
  }

  100% {
    transform: scaleY(1);
  }
}
