---
layout: layouts/base.njk
title: Yetisí Szeged
---
<header>
  {% include "partials/nav.njk" %}
  {% include "partials/banner.njk" %}
</header>
<main>
  {% include "partials/about.njk" %}
  {% include "partials/services.njk" %}
  {% include "partials/news.njk" %}
  {# {% include "partials/gallery.njk" %} #}
  {% include "partials/faq.njk" %}
  {% include "partials/wave.njk" %}
</main>
<footer>
  {% include "partials/footer.njk" %}
</footer>
