---
layout: layouts/base.njk
title: Yetisí Szeged
---
<header>
  <div class="container-fluid">
    {% include "partials/banner.njk" %}
  </div>
</header>
<main>
  <div class="container">
    {% include "partials/about.njk" %}
  </div>
  <div class="container-fluid">
    {% include "partials/services.njk" %}
  </div>
  <div class="container">
    {% include "partials/faq.njk" %}
  </div>
  <div class="container-fluid">
    {% include "partials/news.njk" %}
  </div>
</main>