---
layout: layouts/base.njk
title: My first eleventy project
---
<header>
  {% include "partials/banner.njk" %}
</header>
<main>
  {% include "partials/about.njk" %}
  {% include "partials/services.njk" %}
  {% include "partials/faq.njk" %}
  {% include "partials/news.njk" %}
</main>