<section id="services" class="container about" data-region-name="services">
  <article>
    <div>
      <h2>Magánórák</h2>
      <p>
        Síiskolánkat 2015-ben nyitottuk meg Szegeden, 2017-ben költöztünk mostani helyünkre, a Kálvária Ipari Parkba, ahol pályánk kialakításában korábbi tapasztalatainkat is figyelembe vettük.
        <a href="#prices">Jelentkezem >></a>
      </p>
    </div>
    <img src="images/skier.jpg" alt="">
  </article>
  <article>
    <img src="images/skis.jpg" alt="">
    <div>
      <h2>Tanfolyamok</h2>
      <p>
        Síiskolánkat 2015-ben nyitottuk meg Szegeden, 2017-ben költöztünk mostani helyünkre, a Kálvária Ipari Parkba, ahol pályánk kialakításában korábbi tapasztalatainkat is figyelembe vettük.
        <a href="#prices">Jelentkezem >></a>
      </p>
    </div>
  </article>
</section>
