<section class="container">
  <h2>Szolgáltatásaink</h2>
  <p>Síiskolánkat 2015-ben nyitottuk meg Szegeden, 2017-ben költöztünk mostani helyünkre, a Kálvária Ipari Parkba, ahol pályánk kialakításában korábbi tapasztalatainkat is figyelembe vettük. Műanyag pályákon az alapoktól a carving síelés elsajátításáig, bármely korosztály számára biztosítunk oktatást. A sportos, időjárásnak megfelelő, zárt ruházaton kívül az oktatáshoz szükséges összes felszerelést mi biztosítjuk.</p>
</section>