<section class="container about" data-region-name="about">
  <h2 id="about">Rólunk</h2>
  <p>
    Síiskolánkat 2015-ben nyitottuk meg Szegeden, 2017-ben költöztünk mostani helyünkre, a Kálvária Ipari Parkba, ahol pályánk kialakításában korábbi tapasztalatainkat is figyelembe vettük. Műanyag pályákon az alapoktól a carving síelés elsajátításáig, bármely korosztály számára biztosítunk oktatást. A sportos, időjárásnak megfelelő, zárt ruházaton kívül az oktatáshoz szükséges összes felszerelést mi biztosítjuk.
  </p>
  <h2>Oktatóink</h2>
  <div class="instructors">
    {% for instructor in instructors %}
      <div class="instructors__instructor">
        <h4>{{ instructor.name }}</h4>
        <span class="instructors__instructor-title">{{ instructor.title }}</span>
        <p>”{{ instructor.intro }}”</p>
        <div class="instructors__instructor-img" style="background-image: url({{ instructor.image }})"></div>
      </div>
    {% endfor %}
  </div>
</section>
