<section class="banner">
  <div class="container">
    <div class="banner__text">
      <h1 class="h2">
        Sí és snowboard oktatás Szegeden
      </h1>
      <p>Látogass ki műanyag pályánkra és sajátísd el nálunk az alapokat.</p>
      <p>
        <a class="button fill" href="#services">TUDJ MEG TÖBBET</a>
      </p>
    </div> 
    <div class="banner__images">
      <img src="/images/yeti3.png" />
      <img id="arm" src="/images/yeti1.png" />
      <img id="leg" src="/images/yeti2.png" />
    </div>
  </div>
</section>
