<section class="banner">
  <div class="container">
    <div class="banner__text">
      <h1>
        Sí és snowboard oktatás Szegeden
      </h1>
      <p>Látogass ki műanyag pályánkra és sajátísd el nálunk az alapokat.</p>
    </div> 
    <h1>3D</h1>
  </div>
</section>