<section id="faq" data-region-name="faq" class="faq">
  <div class="container">
    <h2>Gyakori kérdések</h2>
    <div class="faq__container">
      {% for item in faq %}
        <details>
          <summary>{{ item.question }}</summary>
          <p>
            {{ item.answer | safe }}
          </p>
        </details>
      {% endfor %}
    </div>
  </div>
</section>
