<footer class="footer">
  <div class="container">
    <div>
      <h3 id="contacts" data-region-name="contacts">Elérhetőségek</h3>
      <ul>
        <li>+36 30 255-5288</li>
        <li>6724 Szeged, Kálvária sgt. 87.</li>
        <li><a class='mailto' href="mailto:EMAIL">Email</a></li>
        <li><a href="https://www.facebook.com/yetisiszeged">Facebook</a></li>
      </ul>
    </div>
    <div class="footer__map"><img src="/images/yetimap2.png" alt=""></div>
    <img src="/images/sielok.png">
  </div>
  <p class="footer__legal">{% currentYear %} - Yetisí Szeged</p>
</footer>
