<footer class="footer">
  <div class="container">
    <div>
      <h3 id="contacts" data-region-name="contacts">Elérhetőségek</h3>
      <ul>
        <li>+36 30 255-5288</li>
        <li>6724 Szeged, Kálvária sgt. 87. (<a href="https://goo.gl/maps/F4Xsf35bScK1A2rA7">Térkép</a>)</li>
        <li><a class='mailto' href="mailto:EMAIL"><span class="email-placeholder"></span></a></li>
        <li><a href="https://www.facebook.com/yetisiszeged">Facebook</a></li>
      </ul>
    </div>
    <a href="https://sielok.hu"><img src="/images/sielok.png"></a>
  </div>
  <p class="footer__legal">{% currentYear %} - Yetisí Szeged</p>
</footer>
