<section class="gallery container-fluid">
  <h2>Galéria</h2>
  <div class="gallery__items">
    <img class="gallery__item" src="images/news_background.jpg" alt=""><img class="gallery__item" src="images/news_background.jpg" alt="">
  </div>
</section>
