<nav id="main-nav" aria-label="Menü">
  <div class="container">
    <span>LOGO</span>
    <button id="nav-toggle" aria-expanded="false"> 
      <svg viewBox="0 0 100 60">
        <rect width="100" height="15"></rect>
        <rect y="30" width="100" height="15"></rect>
        <rect y="60" width="100" height="15"></rect>
      </svg>
    </button>
    <ul>
      <li>
        <a tabindex="0" href="#news" data-region="news">HÍREK</a>
      </li>
      <li>
        <a tabindex="0" href="#services" data-region="services">SZOLGÁLTATÁSAINK</a>
      </li>
      <li>
        <a tabindex="0" href="#prices" data-region="prices">ÁRAK</a>
      </li>
      <li>
        <a tabindex="0" href="#faq" data-region="faq">GYIK<a/>
      </li>
      <li>
        <a tabindex="0" href="#about" data-region="about">RÓLUNK<a/>
      </li>
      <li>
        <a tabindex="0" href="#contacts" data-region="contacts">ELÉRHETŐSÉGEK</a>
      </li>
    </ul>
  </div>
</nav>
