<section class="services container-fluid">
  <article class="services__item">
    <h3 class="services__item__header services__item__header--left">Magánórák</h3>
    <div class="services__item__content">
      <dl>
        {% for lesson in services.lessons %}
            <dt>{{ lesson.name }}</dt>
            <dd>{{ lesson.price }}</dd>
        {% endfor %}
      </dl>
    </div>
    <footer class="services__item__footer">
      <a class="button" href="mailto:info@yetisiszeged.hu?subject=Magánóra jelentkezés">JELENTKEZEM MAGÁNÓRÁRA</a>
    </footer>
  </article>
  <article class="services__item">
    <h3 class="services__item__header services__item__header--right">Tanfolyamok</h3>
    <div class="services__item__content">
      <h4>5 alkalmas tanfolyamok</h4>
      <dl>
        {% for class in services.classes %}
          <dt>{{ class.name }}</dt>
          <dd>{{ class.title }}</dd>
        {% endfor %}
      </dl>
      <p>
        <strong>Ár:</strong> 14000 Ft + felszerelés (2500 Ft)
      </p>
    </div>
    <footer class="services__item__footer">
      <a class="button" href="mailto:info@yetisiszeged.hu?subject=Tanfolyam jelentkezés">JELENTKEZEM TANFOLYAMRA</a>
    </footer>
  </article>
  <footer class="services__footer">
    <p>
      <i>* A felszerelés kölcsönzési díja 500 Ft/alkalom/fő</i>
    </p>
  </footer>
</section>