<section id="services" class="container services" data-region-name="services">
  <article>
    <div>
      <h2>Magánórák</h2>
      <p>
        {{ services.lessons | safe }}
        <a href="#prices">Jelentkezem >></a>
      </p>
    </div>
    <img src="images/skier.jpg" alt="">
  </article>
  <article>
    <img src="images/skis.jpg" alt="">
    <div>
      <h2>Tanfolyamok</h2>
      <p>
        {{ services.classes | safe }}
        <a href="#prices">Jelentkezem >></a>
      </p>
    </div>
  </article>
</section>
