<div id="spinner" class="spinner" style="display: none;">
  <div class="spinner__line spinner__line--1"></div>
  <div class="spinner__line spinner__line--2"></div>
  <div class="spinner__line spinner__line--3"></div>
</div>

